@model Workplaces.Models.Workplace

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top: 1em">Orders</h1>
<dl  style="margin-top: 1em" class="row">
    <dt class="col-sm-2">
        <h4 style="margin-top:1em"> @Html.DisplayNameFor(model => model.PlaceNumber)</h4>
    </dt>
    <dd class="col-sm-8">
        <h4 style="margin-top:1em">  @Html.DisplayFor(model => model.PlaceNumber)</h4>
</dd>
    <dd class="col-sm-2">
        <a style="
        float:right;
        background-color: transparent;
        color: #54354F;
        border: #54354F 0.2em solid;
        padding: 0.46em 1em;
        border-radius: 0.3em
    " asp-action="Index">Back to List</a>
    </dd>

</dl>
<table style="margin-top: 1em" class="table">
    <thead>
        <tr ALIGN="CENTER" VALIGN=”MIDDLE”>
            <th>
                Date
            </th>
            <th>
                Employee
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orders in Model.Orders)
        {
            <tr ALIGN="CENTER" VALIGN=”MIDDLE”>
                <td>
                    @orders.Date.Day/@orders.Date.Month/@orders.Date.Year
                </td>
                <td>
                    @orders.User.Name
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-top: 2em; align-content: center">
 
</div>
